body {
    margin-right: 40px;
    background: rgb(255, 193, 193);
    overflow: auto;
    text-align: center;
}
.silkscreen-regular {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.silkscreen-bold {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
}
#back {
    background-color: rgb(230, 6, 6);
    justify-content: center;
    margin: auto; 
    height: 22px;
    width: 100%;
    border: 3px solid transparent;
    border-radius: 4px;
}
#road-canvas {
    background: rgb(191, 183, 183);
    border: 6px solid rgb(234, 226, 226);
    border-radius: 15px;
}
.simulation-window {
    border: 2px solid black;
    border-radius: 40px;
    width: 450px;
    height: 680px;
    justify-content: center;
    margin: 20px;
    background-color:rgb(104, 142, 114); 
}
.container {
    display: flex;
    border: 2px solid red;
    border-radius: 12px;
    background-color: rgb(229, 234, 184);
    margin: 5px 20px 20px 5px;
    width: 100%;
}
.footer{
    margin:auto ; 
    background-color:black ; 
    color:white; 
    overflow: auto;
}

.project-description {
    text-align: left;
    margin: 10px 25px 25px 25px;
}

